.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  font-family: "Gill Sans", "Sans-Serif", monospace;
  display: flex;
  flex-direction: row;
}

.left-container {
  width: 50%; 
  height: 100vh; 
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.left-container .add-button {
  margin-top: 10px;
}

.right-container {
  width: 50%; 
  height: 100vh; 
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
